<div class="card ">
    <div class="card-body">
        <h6 class="text-center">Lista de Productos</h6>
        <div class="container-fluid">
            <div class="table-responsive">
                <table class="table table-dark table-sm">
                    <thead>
                        <tr class="text-center roboto-medium">
                            <th>Avatar</th>
                            <th>Nombres y apellidos</th>
                            <th>Telefono</th>
                            <th>Sexo</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let profesion of profesionList" class="text-center" >
                            <td><img src="{{profesion.urlImg}}" alt="Image Not found" class="avatar-profesional"></td>
                            <td>{{profesion.nombre}}</td>
                            <td>{{profesion.celular}}</td>
                            <td>{{profesion.sexo}}</td>
                            <td>
                                <a class="btn btn-secondary " (click) ="onEdit(especialidad)">
                                    <i class="far fa-edit" title="editar"></i>
                                </a>
                                <a class="btn btn-danger " (click)="onDelete(especialidad.$key)">
                                    <i class="fas fa-trash-alt" title="Eliminar"></i>
                                </a>
                            </td>
                            
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>

</div>