<section class="full-box nav-lateral">
  <div class="full-box nav-lateral-bg show-nav-lateral"></div>
  <div class="full-box nav-lateral-content">
    <figure class="full-box nav-lateral-avatar">
      <i class="far fa-times-circle show-nav-lateral"></i>
      <img src="assets/assets/avatar/Avatar.png" class="img-fluid" alt="Avatar" />
      <figcaption class="roboto-medium text-center">
        Yeferson Segura <br /><small class="roboto-condensed-light"
          >Administrador</small
        >
      </figcaption>
    </figure>
    <div class="full-box nav-lateral-bar"></div>
    <nav class="full-box nav-lateral-menu">
      <ul>
        <li>
          <a routerLink="/"
            ><i class="fab fa-dashcube fa-fw"></i> &nbsp; Dashboard</a
          >
        </li>
        <li>
          <a routerLink="/Categoria" routerLinkActive="active"
            ><i class="fas fa-clipboard-list fa-fw"></i> &nbsp; Categoria</a
          >
        </li>
        <li>
          <a routerLink="/Profesional" routerLinkActive="active"
            ><i class="fas fa-users fa-fw"></i> &nbsp; Profesionales</a
          >
        </li>
        <li >
          <a  routerLink="/Panel-Control"   class="nav-btn-submenu" routerLinkActive="active" 
            ><i class="fas fa-users fa-fw"></i> &nbsp; Productos
            <i class="fas fa-chevron-down"></i
          ></a>
          <ul>
            <li  > 
              <a routerLink="/Panel-Control" 
                ><i class="fas fa-clipboard-list fa-fw"></i> &nbsp; Lista de
                medicos</a
              >
            </li>
          </ul>
        </li>

        <li>
          <a routerLink="/Alias"  class="nav-btn-submenu" routerLinkActive="active"
            ><i class="fas fa-pallet fa-fw"></i> &nbsp; Alias de busqueda
            <i class="fas fa-chevron-down"></i
          ></a>
          <ul>
            <li>
              <a routerLink="/Alias"
                ><i class="fas fa-plus fa-fw"></i> &nbsp; Agregar Alias</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</section>
