<div class="card mt-5">
    <div class="card-body">
        <form #aliasForm="ngForm" (ngSubmit)="onSubmit(aliasForm)">
            <input type="hidden" name="$key" id="" #$key="ngModel" [(ngModel)]="aliasService.selectedalias.$key">
            <div class="form-group">
                <input type="text" class="form-control" name="descripcion" #descripcion id="" [(ngModel)]="aliasService.selectedalias.descripcion" placeholder="Agerar nombre">
            </div>
            <div class="form-group">
                <select class="form-control" style="width: 100%" name="id_prod" #id_prod [(ngModel)]="aliasService.selectedalias.id_prod"
                  >
                  <option *ngFor="let item of EspecialidadList" value="{{item.$key}}">{{item.descripcion}}</option>
                </select>
            </div>
            <div class="form-group">
                <select class="form-control" style="width: 100%" name="id_cat" #id_prod [(ngModel)]="aliasService.selectedalias.id_cat"
                 >
                  <option *ngFor="let item of CategoriaList" value="{{item.id}}">{{item.nombre}}</option>
                </select>
            </div>
            <div class="from-group">
            <button class="btn btn-primary" type="submit">
                <i class="fas fa-plus-circle"></i> Agregar
            </button>
            <button class="btn btn-secondary" type="reset" (click)="resetForm(aliasForm)" >
                <i class="fas fa-sync-alt"></i> Reset
            </button>
            </div>
        </form>
    </div>
</div>